<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>404 Page Not Found!</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="ThemeZaa">
        <!-- description -->
        <meta name="description" content="고려대학교 빅데이터 청년인재 13조">
        <!-- keywords -->
        <meta name="keywords" content="고려대, 고려대학교, 빅데이터, 청년, 인재, 13">
        <!-- favicon -->
        <link rel="shortcut icon" href="../static/images/favicon/favicon.png">
        <link rel="apple-touch-icon" href="../static/images/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../static/images/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../static/images/favicon/apple-touch-icon-114x114.png">
        <!-- animation -->
        <link rel="stylesheet" href="../static/css/animate.css" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="../static/css/et-line-icons.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="../static/css/font-awesome.min.css" />
        <!-- themify icon -->
        <link rel="stylesheet" href="../static/css/themify-icons.css">
        <!-- swiper carousel -->
        <link rel="stylesheet" href="../static/css/swiper.min.css">
        <!-- justified gallery  -->
        <link rel="stylesheet" href="../static/css/justified-gallery.min.css">
        <!-- magnific popup -->
        <link rel="stylesheet" href="../static/css/magnific-popup.css" />
        <!-- revolution slider -->
        <link rel="stylesheet" type="text/css" href="../static/revolution/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../static/revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="../static/revolution/css/navigation.css">
        <!-- bootsnav -->
        <link rel="stylesheet" href="../static/css/bootsnav.css">
        <!-- style -->
        <link rel="stylesheet" href="../static/css/style.css" />
        <!-- responsive css -->
        <link rel="stylesheet" href="../static/css/responsive.css" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        
        <!-- start page not found section -->
        <section id="home" class="no-padding parallax mobile-height wow fadeIn" data-stellar-background-ratio="0.5" style="background-image:url('http://placehold.it/1920x1200/8C8C8C/8C8C8C');">
            <div class="opacity-full bg-extra-dark-gray"></div>
            <div class="container position-relative full-screen">
                <div class="slider-typography text-center">
                    <div class="slider-text-middle-main">
                        <div class="slider-text-middle">
                            <div class="bg-black-opacity-light width-50 center-col sm-width-80">
                                <div class="padding-fifteen-all xs-padding-20px-all">
                                    <span class="title-extra-large text-white font-weight-600 display-block margin-30px-bottom xs-margin-10px-bottom">404!</span>
                                    <h6 class="text-uppercase text-deep-pink font-weight-600 alt-font display-block margin-5px-bottom">Page Not Found</h6>
                                    <span class="text-medium-gray width-60 display-block center-col text-large sm-width-100">The page you were looking for could not be found.</span>

                                    <div>&nbsp;</div>
                                    <a href="home.html" class="btn btn-transparent-white btn-medium text-extra-small border-radius-4"><i class="ti-arrow-left margin-5px-right no-margin-left" aria-hidden="true"></i> Back To Homepage</a>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page not found section -->
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="../static/js/jquery.js"></script>
        <script type="text/javascript" src="../static/js/modernizr.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../static/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="../static/js/skrollr.min.js"></script>
        <script type="text/javascript" src="../static/js/smooth-scroll.js"></script>
        <script type="text/javascript" src="../static/js/jquery.appear.js"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="../static/js/bootsnav.js"></script>
        <script type="text/javascript" src="../static/js/jquery.nav.js"></script>
        <!-- animation -->
        <script type="text/javascript" src="../static/js/wow.min.js"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="../static/js/page-scroll.js"></script>
        <!-- swiper carousel -->
        <script type="text/javascript" src="../static/js/swiper.min.js"></script>
        <!-- counter -->
        <script type="text/javascript" src="../static/js/jquery.count-to.js"></script>
        <!-- parallax -->
        <script type="text/javascript" src="../static/js/jquery.stellar.js"></script>
        <!-- magnific popup -->
        <script type="text/javascript" src="../static/js/jquery.magnific-popup.min.js"></script>
        <!-- portfolio with shorting tab -->
        <script type="text/javascript" src="../static/js/isotope.pkgd.min.js"></script>
        <!-- images loaded -->
        <script type="text/javascript" src="../static/js/imagesloaded.pkgd.min.js"></script>
        <!-- pull menu -->
        <script type="text/javascript" src="../static/js/classie.js"></script>
        <script type="text/javascript" src="../static/js/hamburger-menu.js"></script>
        <!-- counter  -->
        <script type="text/javascript" src="../static/js/counter.js"></script>
        <!-- fit video  -->
        <script type="text/javascript" src="../static/js/jquery.fitvids.js"></script>
        <!-- equalize -->
        <script type="text/javascript" src="../static/js/equalize.min.js"></script>
        <!-- skill bars  -->
        <script type="text/javascript" src="../static/js/skill.bars.jquery.js"></script>
        <!-- justified gallery  -->
        <script type="text/javascript" src="../static/js/justified-gallery.min.js"></script>
        <!--pie chart-->
        <script type="text/javascript" src="../static/js/jquery.easypiechart.min.js"></script>
        <!-- instagram -->
        <script type="text/javascript" src="../static/js/instafeed.min.js"></script>
        <!-- retina -->
        <script type="text/javascript" src="../static/js/retina.min.js"></script>
        <!-- revolution -->
        <script type="text/javascript" src="../static/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="../static/revolution/js/jquery.themepunch.revolution.min.js"></script>

        <script type="text/javascript" src="../static/js/main.js"></script>
    </body>
</html>