<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Flask-Dropzone Demo: Custom Options</title>
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin-top:7%; margin-bottom:7%; min-height: 200px; min-width:300px;') }}
    {{ dropzone.load_js() }}
    {{ dropzone.config(custom_init='dz =
    this;document.getElementById("upload-btn").addEventListener("click", function handler(e) {dz.processQueue();});',
                         custom_options='autoProcessQueue: false, addRemoveLinks: true, parallelUploads: 20,')}}
    <style>
        .example_img{
            display: inline-block;
            float:left;
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
    <div class="login100-form-dropzone" id="upload-photo1">
        <div style="display: inline-block;">
            <img class="example_img" src="../example_dorsal.png" alt="example_img1" width="500" height="500"/>
        </div>
        {{ dropzone.create(action='upload_photo_1') }}
        <div class="container-login100-form-btn m-t-11">
            <button class="login100-form-btn" id="upload-btn" onclick="gotoServicePage()">Upload</button>
        </div>
    </div>

{#    <div class="login100-form-dropzone" id="upload-photo2" style="display:none;">#}
{#        <div style="display: inline-block;">#}
{#            <img class="example_img" src="../example_palmar.png" alt="example_img2" width="500" height="500"/>#}
{#        </div>#}
{#        {{ dropzone.create(action='upload_photo_1') }}#}
{#        <div class="container-login100-form-btn m-t-11">#}
{#            <button class="login100-form-btn" id="upload-btn" onclick="gotoServicePage()">Upload</button>#}
{#        </div>#}
{#    </div>#}

    <script>
        let upload_photo1 = document.getElementById("upload-photo1");
        let upload_photo2 = document.getElementById("upload-photo2");

        function gotFirstPhoto(){
            upload_photo1.style.display = "none";
            upload_photo2.style.display = "block";
        }

        function gotoServicePage(){
            window.location.replace("../service");
         }

    </script>

</body>
</html>