<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>POFO – Creative Agency, Corporate and Portfolio Multi-purpose Template</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="ThemeZaa">
        <!-- description -->
        <meta name="description" content="POFO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 25 ready home page demos.">
        <!-- keywords -->
        <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, coming soon, faq">
        <!-- favicon -->
        <link rel="shortcut icon" href="../static/images/favicon.png">
        <link rel="apple-touch-icon" href="../static/images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../static/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../static/images/apple-touch-icon-114x114.png">
        <!-- animation -->
        <link rel="stylesheet" href="../static/css/animate.css" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="../static/css/et-line-icons.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="../static/css/font-awesome.min.css" />
        <!-- themify icon -->
        <link rel="stylesheet" href="../static/css/themify-icons.css">
        <!-- swiper carousel -->
        <link rel="stylesheet" href="../static/css/swiper.min.css">
        <!-- justified gallery  -->
        <link rel="stylesheet" href="../static/css/justified-gallery.min.css">
        <!-- magnific popup -->
        <link rel="stylesheet" href="../static/css/magnific-popup.css" />
        <!-- revolution slider -->
        <link rel="stylesheet" type="text/css" href="../static/revolution/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../static/revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="../static/revolution/css/navigation.css">
        <!-- bootsnav -->
        <link rel="stylesheet" href="../static/css/bootsnav.css">
        <!-- style -->
        <link rel="stylesheet" href="../static/css/style.css" />
        <!-- responsive css -->
        <link rel="stylesheet" href="../static/css/responsive.css" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- start header -->
        <header>
            <!-- start navigation -->
            <nav class="navbar navbar-default bootsnav navbar-fixed-top header-light bg-transparent nav-box-width white-link">
                <div class="container nav-header-container">
                    <div class="row">
                        <!-- start logo -->
                        <div class="col-md-2 col-xs-5">
                            <a href="service.html" title="Pofo" class="logo"><img src="../static/images/logo.png" data-rjs="../static/images/logo@2x.png" class="logo-dark" alt="Pofo"><img src="../static/images/logo-white.png" data-rjs="../static/images/logo-white@2x.png" alt="Pofo" class="logo-light default"></a>
                        </div>
                        <!-- end logo -->
                        <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu">
                            <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                                <span class="sr-only">toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                                <ul class="nav navbar-nav navbar-left panel-group no-margin alt-font font-weight-800">
                                    <li><a href="#home" title="Home" class="inner-link">Home</a></li>
                                    <li><a href="#about" title="About" class="inner-link">About</a></li>
                                    <li><a href="#services" title="Services" class="inner-link">Services</a></li>
                                    <li><a href="#work" title="Work" class="inner-link">Work</a></li>
                                    <li><a href="#team" title="Team" class="inner-link">Team</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- end navigation -->  
        </header>
        <!-- end header -->
        <!-- start hero section -->
        <section id="home" class="no-padding parallax mobile-height wow fadeIn" data-stellar-background-ratio="0.5" style="background-image:url('https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F22259C4655F4654B01');">
            <div class="opacity-extra-medium bg-extra-dark-gray"></div>
            <div class="container position-relative full-screen">
                <div class="slider-typography text-center">
                    <div class="slider-text-middle-main xs-padding-15px-lr">
                        <div class="slider-text-middle">
                            <img src="../static/images/text.png" alt=""/>
                            <div class="down-section text-center"><a href="#about" class="inner-link"><i class="ti-arrow-down icon-extra-small text-white bg-deep-pink padding-15px-all xs-padding-10px-all border-radius-100"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end hero section -->
        <!-- start feature box section -->
        <section id="about" class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <!-- start feature box item -->
                    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 text-center center-col margin-eight-bottom xs-margin-30px-bottom">
                        <span class="alt-font text-deep-pink text-medium margin-5px-bottom display-block">고려대학교 빅데이터 청년인재 13조</span>
                        <h5 class="font-weight-300 text-extra-dark-gray ">손을 주시오<br/> 혈을 잡겠오</h5>
                    </div>
                    <!-- end feature box item -->
                </div>
                <div class="row">
                    <!-- start feature box item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-30px-bottom xs-text-center wow fadeInUp last-paragraph-no-margin">
                        <div class="col-md-3 col-sm-4 col-xs-12 no-padding-left pull-left xs-no-padding-right">
                            <i class="icon-lightbulb icon-extra-medium text-medium-gray xs-margin-10px-bottom position-relative top-minus3"></i>
                            <span class="separator-line-verticle-large margin-ten-right bg-deep-pink vertical-align-top pull-right margin-two-top hidden-xs"></span>
                        </div>
                        <div class="col-md-9 col-sm-8 col-xs-12 sm-no-padding-lr">
                            <span class="text-medium margin-four-bottom text-extra-dark-gray alt-font display-block sm-margin-10px-bottom xs-margin-5px-bottom">증상정보 해석</span>
                            <p class="width-90 md-width-100">일반인이 자신의 증상을 자연어로 입력하면, NLP를 통해 하나의 증상을 진단해준다.</p>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-30px-bottom xs-text-center wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
                        <div class="col-md-3 col-sm-4 col-xs-12 no-padding-left pull-left xs-no-padding-right">
                            <i class="icon-globe icon-extra-medium text-medium-gray xs-margin-10px-bottom position-relative top-minus3"></i>
                            <span class="separator-line-verticle-large margin-ten-right bg-deep-pink vertical-align-top pull-right margin-two-top hidden-xs"></span>
                        </div>
                        <div class="col-md-9 col-sm-8 col-xs-12 sm-no-padding-lr">
                            <h5 class="text-medium margin-four-bottom text-extra-dark-gray alt-font display-block sm-margin-10px-bottom xs-margin-5px-bottom">맞춤 경혈 위치 찾기</h5>
                            <p class="width-90 md-width-100">증상에 맞는 혈자리를 CVDeepLearning을 통해 환자의 손에 위치를 포인팅해준다.</p>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 xs-text-center wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
                        <div class="col-md-3 col-sm-4 col-xs-12 no-padding-left pull-left xs-no-padding-right">
                            <i class="icon-paintbrush icon-extra-medium text-medium-gray xs-margin-10px-bottom position-relative top-minus3"></i>
                            <span class="separator-line-verticle-large margin-ten-right bg-deep-pink vertical-align-top pull-right margin-two-top hidden-xs"></span>
                        </div>
                        <div class="col-md-9 col-sm-8 col-xs-12 sm-no-padding-lr">
                            <h5 class="text-medium margin-four-bottom text-extra-dark-gray alt-font display-block sm-margin-10px-bottom xs-margin-5px-bottom">음식 및 약재 처방</h5>
                            <p class="width-90 md-width-100">증상에 맞는 음식과 약재를 처방해준다.</p>
                        </div>
                    </div>
                    <!-- end feature box item -->
                </div>
            </div>
        </section>
        <!-- end feature box section -->
        <!-- start parallax section -->
        <section class="parallax wow fadeIn" data-stellar-background-ratio="0.01" style="background-image:url('https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/1lOa/image/JRUvZ9yDlpv2HqBmsyJGq-vOL5Y.jpg');">
            <div class="opacity-extra-medium bg-black"></div>
            <div class="container position-relative">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12 text-center center-col last-paragraph-no-margin">
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=nrJtHemSPW4"><img src="../static/images/icon-play.png" class="width-130px" alt=""/></a>
                        <h4 class="alt-font text-white margin-15px-bottom xs-margin-20px-bottom">Unique. Powerful. Creative.</h4>
                        <p class="text-extra-large font-weight-300 text-light-gray width-85 xs-width-100 display-inline-block margin-25px-bottom">We provide high quality and cost effective offshore web and software development services.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end parallax section -->
        <!-- start services section -->
        <section id="services" class="bg-light-gray wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center last-paragraph-no-margin">
                        <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase margin-15px-bottom">타겟 이용군</h5>
                        <p class="no-margin-bottom">통증이나 증상이 있음에도 불구하고 병원에 가지 못하거나, 가벼운 통증 완화를 위해 누구나 사용 가능하다.</p>
                    </div>
                </div>
                <div class="row equalize xs-equalize-auto">
                    <!-- start Services item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin">
                        <div class="bg-white box-shadow-light text-center padding-eighteen-tb feature-box-8 position-relative z-index-5 height-100 xs-padding-15px-lr">
                            <div class="display-inline-block margin-20px-bottom xs-margin-10px-bottom"><i class="icon-desktop text-white icon-round-small bg-deep-pink"></i></div>
                            <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">의료 서비스 취약 계층</div>
                            <p class="width-75 md-width-90 xs-width-100 center-col">만성질환 이환률 90% 이상에도 의료 사각지대에 놓인 고령인구</p>
                            <div class="feature-box-overlay bg-deep-pink"></div>
                        </div>
                    </div>
                    <!-- end Services item -->
                    <!-- start Services item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
                        <div class="bg-white box-shadow-light text-center padding-eighteen-tb feature-box-8 position-relative z-index-5 height-100 xs-padding-15px-lr">
                            <div class="display-inline-block margin-20px-bottom xs-margin-10px-bottom"><i class="icon-tools text-white icon-round-small bg-deep-pink"></i></div>
                            <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">임산부 / 암환자</div>
                            <p class="width-75 md-width-90 xs-width-100 center-col">임신으로 인한 입덧 및 변비에도 약물 복용의 어려움이 있는 임산부<br/> 약물로 조절되지 않는 극심한 부작용을 앓고 있는 항암 치료를 받는 암 환자</p>
                            <div class="feature-box-overlay bg-deep-pink"></div>
                        </div>
                    </div>
                    <!-- end Services item -->
                    <!-- start Services item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin xs-padding-15px-lr" data-wow-delay="0.4s">
                        <div class="bg-white box-shadow-light text-center padding-eighteen-tb feature-box-8 position-relative z-index-5 height-100">
                            <div class="display-inline-block margin-20px-bottom xs-margin-10px-bottom"><i class="icon-scissors text-white icon-round-small bg-deep-pink"></i></div>
                            <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">일반인 / 외국인</div>
                            <p class="width-75 md-width-90 xs-width-100 center-col">가벼운 증상을 완화시키고자 하는 일반인<br/>보완대체의학에 대한 관심이 있는 외국인</p>
                            <div class="feature-box-overlay bg-deep-pink"></div>
                        </div>
                    </div>
                    <!-- end Services item -->
                    <!-- start Services item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp last-paragraph-no-margin xs-padding-15px-lr" data-wow-delay="0.6s">
                        <div class="bg-white box-shadow-light text-center padding-eighteen-tb feature-box-8 position-relative z-index-5 height-100">
                            <div class="display-inline-block margin-20px-bottom xs-margin-10px-bottom"><i class="icon-laptop text-white icon-round-small bg-deep-pink"></i></div>
                            <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">한의학 관련 종사자 </div>
                            <p class="width-75 md-width-90 xs-width-100 center-col">한의학을 공부하는 한의대생, 한의사</p>
                            <div class="feature-box-overlay bg-deep-pink"></div>
                        </div>
                    </div>
                    <!-- end Services item -->
                </div>
            </div>
        </section>
        <!-- end services section -->
        <!-- start counter section -->
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <!-- start counter item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 sm-padding-twelve-left sm-margin-ten-bottom xs-margin-50px-bottom xs-padding-15px-left wow fadeInRight">
                        <div class="feature-box-5 position-relative">
                            <i class="icon-desktop text-medium-gray icon-extra-medium top-6"></i>
                            <div class="feature-content">
                                <h6 class="display-block text-extra-dark-gray font-weight-600 alt-font no-margin-bottom xs-margin-5px-bottom timer" data-speed="2000" data-to="1416">1416</h6>
                                <span class="text-small text-uppercase position-relative top-minus4">Hours spent on this PROJECT</span>
                            </div>
                        </div>
                    </div>
                    <!-- end counter item -->
                    <!-- start counter item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 sm-padding-twelve-left sm-margin-ten-bottom xs-margin-50px-bottom xs-padding-15px-left wow fadeInRight" data-wow-delay="0.2s">
                        <div class="feature-box-5 position-relative">
                            <i class="icon-camera text-medium-gray icon-extra-medium top-6"></i>
                            <div class="feature-content">
                                <h6 class="display-block text-extra-dark-gray font-weight-600 alt-font no-margin-bottom xs-margin-5px-bottom timer" data-speed="2000" data-to="11000">11000</h6>
                                <span class="text-small text-uppercase position-relative top-minus4">Image Train Dataset</span>
                            </div>
                        </div>
                    </div>
                    <!-- end counter item -->
                    <!-- start counter item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 sm-padding-twelve-left xs-margin-50px-bottom xs-padding-15px-left wow fadeInRight" data-wow-delay="0.4s">
                        <div class="feature-box-5 position-relative">
                            <i class="icon-laptop text-medium-gray icon-extra-medium top-6"></i>
                            <div class="feature-content">
                                <h6 class="display-block text-extra-dark-gray font-weight-600 alt-font no-margin-bottom xs-margin-5px-bottom timer" data-speed="2000" data-to="850">850</h6>
                                <span class="text-small text-uppercase position-relative top-minus4">target acupuncture</span>
                            </div>
                        </div>
                    </div>
                    <!-- end counter item -->
                    <!-- start counter item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 sm-padding-twelve-left xs-padding-15px-left wow fadeInRight" data-wow-delay="0.6s">
                        <div class="feature-box-5 position-relative">
                            <i class="icon-chat text-medium-gray icon-extra-medium top-6"></i>
                            <div class="feature-content">
                                <h6 class="display-block text-extra-dark-gray font-weight-600 alt-font no-margin-bottom xs-margin-5px-bottom timer" data-speed="2000" data-to="650">650</h6>
                                <span class="text-small text-uppercase position-relative top-minus4">text dataset capacity</span>
                            </div>
                        </div>
                    </div>
                    <!-- end counter item -->
                </div>
            </div>
        </section>
        <!-- end counter section -->
        <!-- start accordion section -->
        <section class="bg-light-gray border-none no-padding wow fadeIn">
            <div class="container-fluid">
                <div class="row equalize sm-equalize-auto">
                    <div class="col-md-6 col-sm-12 col-xs-12 display-table wow fadeInLeft">
                        <div class="display-table-cell-vertical-middle padding-thirteen-all md-padding-ten-all sm-padding-six-all xs-padding-50px-tb xs-no-padding-lr">
                            <h5 class="alt-font text-extra-dark-gray sm-text-center margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom font-weight-600"><span class="font-weight-300 display-block xs-margin-15px-bottom">We're small but impressive.</span> 구현</h5>
                            <div class="panel-group accordion-style2" id="accordion">
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <div class="panel-title">
                                                <span class="alt-font font-weight-600 text-deep-pink tab-tag">01</span>
                                                <span class="text-extra-dark-gray xs-width-80 display-inline-block">NLP</span>
                                                <i class="fas fa-angle-up pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            <div class="panel-title">
                                                <span class="alt-font font-weight-600 text-deep-pink tab-tag">02</span>
                                                <span class="text-extra-dark-gray xs-width-80 display-inline-block">CVDeepLearning</span>
                                                <i class="indicator fas fa-angle-down pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            <div class="panel-title">
                                                <span class="alt-font font-weight-600 text-deep-pink tab-tag">03</span>
                                                <span class="text-extra-dark-gray xs-width-80 display-inline-block">Web</span>
                                                <i class="indicator fas fa-angle-down pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 cover-background sm-height-500px xs-height-350px wow fadeInRight" style="background:url('https://image.flaticon.com/icons/svg/2103/2103562.svg')"></div>
                </div>
            </div>
        </section>
        <!-- end accordion section -->
        <!-- start masonry portfolio section -->
        <section id="work" class="no-padding-bottom wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 center-col margin-eight-bottom text-center last-paragraph-no-margin sm-margin-40px-bottom xs-margin-30px-bottom">
                        <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase margin-15px-bottom">증상을 설명해주세요</h5><br>
                        <form method="GET" action="/getsymp">
                          <div>
                            <input type="text" id="symptom" name="symptom" placeholder="Describe about your symptom">
                          </div>
                          <div class='button'>
                            <input type="submit" value="Submit" hidden="True">
                          </div>
                        </form>
                        <div>
                            {% if symptom != None %}
                                <h5> {{symptom}} 를 입력받았습니다. </h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- end masonry portfolio section -->
        <!-- start progress bar section -->
        
        <!-- end progress bar section -->
        <!-- start section -->
        <section class="no-padding wow fadeIn bg-extra-dark-gray">
            <div class="container-fluid no-padding">
                <div class="row equalize no-margin">
                    <div class="col-md-6 col-sm-12 col-xs-12 position-relative sm-height-500px xs-height-350px cover-background wow fadeInLeft" style="background-image: url('http://placehold.it/960x850');">
                        <div class="opacity-extra-medium bg-extra-dark-gray"></div>
                        <div class="bg-deep-pink width-50 text-center text-white padding-ten-all absolute-middle-center z-index-5 md-width-70 xs-width-85 xs-padding-twelve-tb xs-padding-five-lr">
                            <span class="special-char-medium text-white absolute-middle-center top-0 position-absolute fas fa-quote-left"></span>
                            <h6 class="font-weight-300 no-margin-bottom">We design brand, digital experience & marketing campaigns that engage the right customers.</h6>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 display-table wow fadeInRight last-paragraph-no-margin sm-text-center">
                        <div class="display-table-cell vertical-align-middle padding-fifteen-all md-padding-ten-all sm-padding-90px-all xs-text-center xs-no-padding-lr xs-padding-40px-tb">
                            <span class="text-medium margin-10px-bottom display-block alt-font">We create premium designs and technology</span>
                            <h4 class="alt-font text-light-gray">A digital studio crafting beautiful experiences.</h4>
                            <p class="text-extra-large width-85 md-width-100">We always stay on the cutting edge of digital, so that our clients maintain their competitive advantage online.</p>
                            <p class="width-85 md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text.</p>
                            <a href="home-creative-small-business.html" class="btn btn-small margin-35px-top btn-white">Start Your Business</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start parallax section -->
        <section class="parallax wow fadeIn " data-stellar-background-ratio="0.6" style="background-image:url('http://placehold.it/1920x1200');">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container position-relative z-index-2">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 text-center center-col margin-seven-bottom xs-margin-40px-bottom">
                        <h4 class="alt-font text-light-gray width-90 center-col">기대 효과</h4>
                        <p class="text-large width-85 sm-width-100 font-weight-300 center-col">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                    </div>
                </div>
                <div class="row">
                    <!-- start feature box item -->
                    <div class="col-md-3 col-sm-3 col-xs-6 text-center display-inline-block feature-box-9 xs-height-200px wow zoomIn">
                        <i class="icon-edit icon-large margin-20px-bottom text-deep-pink"></i>
                        <p class="alt-font text-medium text-light-gray">간편한 증상관리 및 완화</p>
                        <div class="text-bottom-line border-color-deep-pink"></div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-md-3 col-sm-3 col-xs-6 text-center display-inline-block feature-box-9 xs-height-200px wow zoomIn" data-wow-delay="0.2s">
                        <i class="icon-tools-2 icon-large margin-20px-bottom text-deep-pink"></i>
                        <p class="alt-font text-medium text-light-gray">한의학 학습</p>
                        <div class="text-bottom-line border-color-deep-pink"></div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-md-3 col-sm-3 col-xs-6 text-center display-inline-block feature-box-9 xs-height-200px wow zoomIn" data-wow-delay="0.4s">
                        <i class="icon-expand icon-large margin-20px-bottom text-deep-pink"></i>
                        <p class="alt-font text-medium text-light-gray">의료 접근성 개선</p>
                        <div class="text-bottom-line border-color-deep-pink"></div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-md-3 col-sm-3 col-xs-6 text-center display-inline-block feature-box-9 xs-height-200px wow zoomIn" data-wow-delay="0.6s">
                        <i class="icon-scissors icon-large margin-20px-bottom text-deep-pink"></i>
                        <p class="alt-font text-medium text-light-gray">한의학 세계화</p>
                        <div class="text-bottom-line border-color-deep-pink"></div>
                    </div>
                    <!-- end feature box item -->
                </div>
            </div>
        </section>
        <!-- end parallax section -->
        <!-- start team section -->
        <section id="team" class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 center-col margin-eight-bottom text-center last-paragraph-no-margin sm-margin-40px-bottom xs-margin-30px-bottom">
                        <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase margin-15px-bottom">Creative People</h5>
                        <p class="no-margin-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum has been the industry's standard dummy text since.</p>
                    </div>  
                </div>
                <div class="row">
                    <!-- start team item -->
                    <div class="col-md-2 col-sm-6 col-xs-12 team-block text-center team-style-2 sm-margin-seven-bottom xs-margin-40px-bottom wow slideInUp">
                        <figure style="align-items: center;">
                            <div class="team-image xs-width-100">
                                <img src="https://lms.sunde41.net/static/uploads/avatars/avatar_19.png" alt="">
                                <div class="team-overlay bg-deep-pink"></div>
                                <div class="team-member-position text-center margin-25px-top">
                                    <div class="text-extra-dark-gray font-weight-600 text-uppercase text-small alt-font">김성진</div>
                                    <div class="text-extra-small text-uppercase text-medium-gray">Sungjin Kim</div>
                                </div>
                            </div>
                            <figcaption>
                                <div class="overlay-content text-center icon-social-small">
                                    <span class="text-small display-inline-block no-margin">NLP  Openpose</span>
                                    <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb xs-margin-20px-tb"></div>
                                    <a href="http://www.facebook.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a href="http://www.twitter.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-twitter"></i></a>
                                    <a href="jhttp://plus.google.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="jhttp://www.instagram.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end team item -->
                    <!-- start team item -->
                    <div class="col-md-2 col-sm-6 col-xs-12 team-block text-center team-style-2 sm-margin-seven-bottom xs-margin-40px-bottom wow slideInUp" data-wow-delay="0.2s">
                        <figure>
                            <div class="team-image xs-width-100">
                                <img src="https://lms.sunde41.net/static/uploads/avatars/avatar_23.jpeg" alt="">
                                <div class="team-overlay bg-deep-pink"></div>
                                <div class="team-member-position text-center margin-25px-top">
                                    <div class="text-extra-dark-gray font-weight-600 text-uppercase text-small alt-font">김재원</div>
                                    <div class="text-extra-small text-uppercase text-medium-gray">Jaewon Kim</div>
                                </div>
                            </div>
                            <figcaption>
                                <div class="overlay-content text-center icon-social-small">
                                    <span class="text-small display-inline-block no-margin">Web  TaggingMacro</span>
                                    <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb xs-margin-20px-tb"></div>
                                    <a href="http://www.facebook.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a href="http://www.twitter.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-twitter"></i></a>
                                    <a href="jhttp://plus.google.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="jhttp://www.instagram.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end team item -->
                    <!-- start team item -->
                    <div class="col-md-2 col-sm-6 col-xs-12 team-block text-center team-style-2 sm-margin-seven-bottom xs-margin-40px-bottom wow slideInUp" data-wow-delay="0.2s">
                        <figure>
                            <div class="team-image xs-width-100">
                                <img src="https://lms.sunde41.net/static/uploads/avatars/avatar_24.png" alt="">
                                <div class="team-overlay bg-deep-pink"></div>
                                <div class="team-member-position text-center margin-25px-top">
                                    <div class="text-extra-dark-gray font-weight-600 text-uppercase text-small alt-font">김정규</div>
                                    <div class="text-extra-small text-uppercase text-medium-gray">Jeonggyu Kim</div>
                                </div>
                            </div>
                            <figcaption>
                                <div class="overlay-content text-center icon-social-small">
                                    <span class="text-small display-inline-block no-margin">CVDeepLearning</span>
                                    <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb xs-margin-20px-tb"></div>
                                    <a href="http://www.facebook.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a href="http://www.twitter.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-twitter"></i></a>
                                    <a href="jhttp://plus.google.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="jhttp://www.instagram.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end team item -->
                    <!-- start team item -->
                    <div class="col-md-2 col-sm-6 col-xs-12 team-block text-center team-style-2 sm-margin-seven-bottom xs-margin-40px-bottom wow slideInUp" data-wow-delay="0.4s">
                        <figure>
                            <div class="team-image xs-width-100">
                                <img src="https://lms.sunde41.net/static/uploads/avatars/avatar_58.png" alt="">
                                <div class="team-overlay bg-deep-pink"></div>
                                <div class="team-member-position text-center margin-25px-top">
                                    <div class="text-extra-dark-gray font-weight-600 text-uppercase text-small alt-font">정지우</div>
                                    <div class="text-extra-small text-uppercase text-medium-gray">Jiwoo Chung</div>
                                </div>
                            </div>
                            <figcaption>
                                <div class="overlay-content text-center icon-social-small">
                                    <span class="text-small display-inline-block no-margin">Image Preprocessing  WebDesign</span>
                                    <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb xs-margin-20px-tb"></div>
                                    <a href="http://www.facebook.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a href="http://www.twitter.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-twitter"></i></a>
                                    <a href="http://plus.google.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="http://www.instagram.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end team item -->
                    <!-- start team item -->
                    <div class="col-md-2 col-sm-6 col-xs-12 team-block text-center team-style-2 wow slideInUp"  data-wow-delay="0.6s">
                        <figure>
                            <div class="team-image xs-width-100">
                                <img src="https://lms.sunde41.net/static/uploads/avatars/avatar_66.jpg" alt="">
                                <div class="team-overlay bg-deep-pink"></div>
                                <div class="team-member-position text-center margin-25px-top">
                                    <div class="text-extra-dark-gray font-weight-600 text-uppercase text-small alt-font">최 선</div>
                                    <div class="text-extra-small text-uppercase text-medium-gray">Sun Choi</div>
                                </div>
                            </div>
                            <figcaption>
                                <div class="overlay-content text-center icon-social-small">
                                    <span class="text-small display-inline-block no-margin">ImagePreprocessing TextDataCollecting</span>
                                    <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb xs-margin-20px-tb"></div>
                                    <a href="http://www.facebook.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a href="http://www.twitter.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-twitter"></i></a>
                                    <a href="http://plus.google.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="http://www.instagram.com" class="text-extra-dark-gray" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end team item -->
                </div>
            </div>
        </section>
        <!-- end team section -->
        <!-- start features section -->
        <section class="wow fadeIn border-bottom border-color-extra-light-gray">
            <div class="container">
                <div class="row sm-col-2-nth">
                    <!-- start features box item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center sm-margin-50px-bottom xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin">
                        <i class="icon-map-pin icon-medium margin-25px-bottom xs-margin-10px-bottom"></i>
                        <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Visit Our Office</div>
                        <p class="width-70 md-width-85 sm-width-50 xs-width-60 xs-margin-10px-bottom center-col">401 Broadway, 24th Floor New York, NY 10013.</p>
                        <a href="contact-us-classic-02.html" class="margin-15px-top text-decoration-line-through-deep-pink display-inline-block text-uppercase text-deep-pink text-small xs-no-margin-top">GET DIRECTION</a>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center sm-margin-50px-bottom xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
                        <i class="icon-chat icon-medium margin-25px-bottom xs-margin-10px-bottom"></i>
                        <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Let's Talk</div>
                        <p class="width-70 md-width-85 sm-width-50 xs-width-60 xs-margin-10px-bottom center-col">Phone: 1-800-222-000<br>Fax: 1-800-222-002</p>
                        <a href="contact-us-classic.html" class="margin-15px-top text-decoration-line-through-deep-pink display-inline-block text-uppercase text-deep-pink text-small xs-no-margin-top">call us</a>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
                        <i class="icon-envelope icon-medium margin-25px-bottom xs-margin-10px-bottom"></i>
                        <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">E-mail Us</div>
                        <p class="width-70 md-width-85 sm-width-50 xs-width-60 xs-margin-10px-bottom center-col"><a href="mailto:info@yourdomain.com">info@yourdomain.com</a><br><a href="mailto:hr@yourdomain.com">hr@yourdomain.com</a></p>
                        <a href="contact-us-classic-02.html" class="margin-15px-top text-decoration-line-through-deep-pink display-inline-block text-uppercase text-deep-pink text-small xs-no-margin-top">send e-mail</a>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.6s">
                        <i class="icon-megaphone icon-medium margin-25px-bottom xs-margin-10px-bottom"></i>
                        <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Customer Services</div>
                        <p class="width-70 md-width-85 sm-width-50 xs-width-60 xs-margin-10px-bottom center-col">Lorem Ipsum is simply dummy text of the printing.</p>
                        <a href="contact-us-classic-02.html" class="margin-15px-top text-decoration-line-through-deep-pink display-inline-block text-uppercase text-deep-pink text-small xs-no-margin-top">open ticket</a>
                    </div>
                    <!-- end features box item -->
                </div>
            </div>
        </section>
        <!-- end features section -->
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="../static/js/jquery.js"></script>
        <script type="text/javascript" src="../static/js/modernizr.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../static/js/jquery.easing.1.3.js"></script>
        
        <script type="text/javascript" src="../static/js/smooth-scroll.js"></script>
        <script type="text/javascript" src="../static/js/jquery.appear.js"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="../static/js/bootsnav.js"></script>
        <script type="text/javascript" src="../static/js/jquery.nav.js"></script>
        <!-- animation -->
        <script type="text/javascript" src="../static/js/wow.min.js"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="../static/js/page-scroll.js"></script>
        <!-- swiper carousel -->
        <script type="text/javascript" src="../static/js/swiper.min.js"></script>
        <!-- counter -->
        <script type="text/javascript" src="../static/js/jquery.count-to.js"></script>
        <!-- parallax -->
        <script type="text/javascript" src="../static/js/jquery.stellar.js"></script>
        <!-- magnific popup -->
        <script type="text/javascript" src="../static/js/jquery.magnific-popup.min.js"></script>
        <!-- portfolio with shorting tab -->
        <script type="text/javascript" src="../static/js/isotope.pkgd.min.js"></script>
        <!-- images loaded -->
        <script type="text/javascript" src="../static/js/imagesloaded.pkgd.min.js"></script>
        <!-- pull menu -->
        <script type="text/javascript" src="../static/js/classie.js"></script>
        <script type="text/javascript" src="../static/js/hamburger-menu.js"></script>
        <!-- counter  -->
        <script type="text/javascript" src="../static/js/counter.js"></script>
        <!-- fit video  -->
        <script type="text/javascript" src="../static/js/jquery.fitvids.js"></script>
        <!-- equalize -->
        <script type="text/javascript" src="../static/js/equalize.min.js"></script>
        <!-- skill bars  -->
        <script type="text/javascript" src="../static/js/skill.bars.jquery.js"></script>
        <!-- justified gallery  -->
        <script type="text/javascript" src="../static/js/justified-gallery.min.js"></script>
        <!--pie chart-->
        <script type="text/javascript" src="../static/js/jquery.easypiechart.min.js"></script>
        <!-- instagram -->
        <script type="text/javascript" src="../static/js/instafeed.min.js"></script>
        <!-- retina -->
        <script type="text/javascript" src="../static/js/retina.min.js"></script>
        <!-- revolution -->
        <script type="text/javascript" src="../static/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="../static/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
        <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
        <!-- setting -->
        <script type="text/javascript" src="../static/js/main.js"></script>
    </body>
</html>