<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V16</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../static/images/favicon/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="login">
        <div class="limiter">
            <div class="container-login100" style="background-image: url('../static/images/bg-01.jpg');">
                <div class="wrap-login100 p-t-30 p-b-50">
                    <span class="login100-form-title p-b-41">
                        {% if userid == 'Username already exists' %}
                            User id already exists
                        {% else %}
                            Welcome
                        {% endif %}
                    </span>
                    <div class="login100-form validate-form p-b-33 p-t-5">
                        <div class="wrap-input100 validate-input" data-validate = "Enter user id">
                            <input class="input100" id="userid" type="text" name="username" placeholder="User id">
                            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input class="input100" id="userpassword" type="password" name="pass" placeholder="Password">
                            <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                        </div>
                        <div style="text-align: center;">
                            <a href="../user/register" class="register-url">
                                아이디 만들기
                            </a>
                        </div>
                        <div class="container-login100-form-btn m-t-11">
                            <button class="login100-form-btn" id="loginBtn">
                                로그인
                            </button>
                        </div>
                    </div>
{#                    <form method="POST" action="/service">#}
{#                    </form>#}
                </div>
            </div>
        </div>
    </div>

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/daterangepicker/moment.min.js"></script>
	<script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/js/login.js"></script>
    <script>
        let loginBtn = document.getElementById("loginBtn");
        let userid = document.getElementById("userid");
        let password = document.getElementById("userpassword");

        loginBtn.addEventListener("click", function(event){
            $.ajax({
                type: "POST",
                url: "/service",
                contentType: "application/json",
                data: JSON.stringify({'userid': userid.value.toString(), 'password': password.value.toString()}),
                dataType: "json",
                success: function (response) {
                    console.log(response);
                },
                error: function (err) {
                    console.log(err);
                }
            });
            window.location.replace("../service");
         });
    </script>
</body>
</html>