<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_eb6f48502fef47b59f617fbd5a40ec34 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_eb6f48502fef47b59f617fbd5a40ec34" ></div>
        
</body>
<script>    
    
            var map_eb6f48502fef47b59f617fbd5a40ec34 = L.map(
                "map_eb6f48502fef47b59f617fbd5a40ec34",
                {
                    center: [37.537, 127.007],
                    crs: L.CRS.EPSG3857,
                    zoom: 20,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a8c30a65e3cd467993e25e4094fc91e0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            var marker_1c0779a2d6f04a8a9d98d44eac240ec2 = L.marker(
                [37.537, 127.007],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            var icon_8e4bf8847e8d4d1da4f82f131bebb8a7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1c0779a2d6f04a8a9d98d44eac240ec2.setIcon(icon_8e4bf8847e8d4d1da4f82f131bebb8a7);
        
    
            marker_1c0779a2d6f04a8a9d98d44eac240ec2.bindTooltip(
                `<div>
                     My location
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ce26170c33c04baaa85bd725c9c26d7b = L.marker(
                [37.53359879170921, 127.00869822897556],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_ce26170c33c04baaa85bd725c9c26d7b.bindTooltip(
                `<div>
                     병원명 : 멘드의원
전화번호 : 02-595-5110
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ce0d75109154493aaaac6abd45f4fe0d = L.marker(
                [37.53383436494497, 127.0081289708685],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_ce0d75109154493aaaac6abd45f4fe0d.bindTooltip(
                `<div>
                     병원명 : 다나의원
전화번호 : 02-749-5009
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7e5af2d4c7c747aca8e2af2b60035bc4 = L.marker(
                [37.53428344113129, 127.01009673581584],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_7e5af2d4c7c747aca8e2af2b60035bc4.bindTooltip(
                `<div>
                     병원명 : 경희유엔한의원
전화번호 : 02-790-9939
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7d47b16171c7484e855ee67bcbb618e3 = L.marker(
                [37.53438821102722, 127.00648074671729],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_7d47b16171c7484e855ee67bcbb618e3.bindTooltip(
                `<div>
                     병원명 : 안영한의원
전화번호 : 02-797-3566
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ea7e9ba21ab6409f9cec6154f73b5498 = L.marker(
                [37.53428344113129, 127.01009673581584],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_ea7e9ba21ab6409f9cec6154f73b5498.bindTooltip(
                `<div>
                     병원명 : 유엔빌리지치과의원
전화번호 : 02-792-1817
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_066dd39fd89f4c76a08b1825a6d3c8bf = L.marker(
                [37.53359879170921, 127.00869822897556],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_066dd39fd89f4c76a08b1825a6d3c8bf.bindTooltip(
                `<div>
                     병원명 : 연세산부인과의원
전화번호 : 02-790-0802
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5ac5ad9fef964e359c696e282e1286d3 = L.marker(
                [37.5341520566604, 127.006517610304],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_5ac5ad9fef964e359c696e282e1286d3.bindTooltip(
                `<div>
                     병원명 : 르셀크리닉의원
전화번호 : 02-797-1797
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7cb78bda142c46f3a267d428f4a9b304 = L.marker(
                [37.533553305368805, 127.00715594761297],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_7cb78bda142c46f3a267d428f4a9b304.bindTooltip(
                `<div>
                     병원명 : 김정범치과의원
전화번호 : 02-794-7083
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cdd5eb11492d41fbb5ab107d4be91862 = L.marker(
                [37.5339592475, 127.0079108103],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_cdd5eb11492d41fbb5ab107d4be91862.bindTooltip(
                `<div>
                     병원명 : 샘치과의원
전화번호 : 02-793-0455
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c746cc1d78d24a7e92704953683035c5 = L.marker(
                [37.53384172231443, 127.00441798640304],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_c746cc1d78d24a7e92704953683035c5.bindTooltip(
                `<div>
                     병원명 : 순천향대학교 부속 서울병원
전화번호 : 027099114
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3dff1176df604483a7e242bb230c02d3 = L.marker(
                [37.53438224921999, 127.00649526886922],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_3dff1176df604483a7e242bb230c02d3.bindTooltip(
                `<div>
                     병원명 : 박은주치과의원
전화번호 : 02-749-6900
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3de4c3dbd4e3499f8cbd470916db41a9 = L.marker(
                [37.53320615093585, 127.00542618203588],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_3de4c3dbd4e3499f8cbd470916db41a9.bindTooltip(
                `<div>
                     병원명 : 서치과의원
전화번호 : 02-796-7528
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_890a463f9d2a4e42acdde891f3122953 = L.marker(
                [37.53418763268615, 127.00654051206118],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_890a463f9d2a4e42acdde891f3122953.bindTooltip(
                `<div>
                     병원명 : 나비드치과의원
전화번호 : 02-790-7119
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0ee3857ce8e74d14bae6b2faf4f03071 = L.marker(
                [37.53412490280158, 127.00964414992356],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_0ee3857ce8e74d14bae6b2faf4f03071.bindTooltip(
                `<div>
                     병원명 : 호수의원
전화번호 : 02-792-0506
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_16645f2d09ca4d53ac25ec2ce960888c = L.marker(
                [37.53415034480274, 127.00651693130781],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_16645f2d09ca4d53ac25ec2ce960888c.bindTooltip(
                `<div>
                     병원명 : 노만희정신건강의학과의원
전화번호 : 02-793-0945
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c392caa4d7934fa2b3680572a188e619 = L.marker(
                [37.5355614904423, 127.006549413089],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_c392caa4d7934fa2b3680572a188e619.bindTooltip(
                `<div>
                     병원명 : 홈스피탈내과의원
전화번호 : 02-796-7566
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ef913dc61b504dfca7adc64589af0ae7 = L.marker(
                [37.53374307604469, 127.00680653568526],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_ef913dc61b504dfca7adc64589af0ae7.bindTooltip(
                `<div>
                     병원명 : 시카고치과의원
전화번호 : 02-795-1500
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6606d80292e947da970bb494755fafb7 = L.marker(
                [37.5339917577, 127.0067115199],
                {}
            ).addTo(map_eb6f48502fef47b59f617fbd5a40ec34);
        
    
            marker_6606d80292e947da970bb494755fafb7.bindTooltip(
                `<div>
                     병원명 : 브라이트치과의원
전화번호 : 02-797-0015
                 </div>`,
                {"sticky": true}
            );
        
</script>