<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a1928d1e7059474398f0431e78954c7a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a1928d1e7059474398f0431e78954c7a" ></div>
        
</body>
<script>    
    
            var map_a1928d1e7059474398f0431e78954c7a = L.map(
                "map_a1928d1e7059474398f0431e78954c7a",
                {
                    center: [37.484, 127.05],
                    crs: L.CRS.EPSG3857,
                    zoom: 20,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f695e2f135644c98bb671595268bd81f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            var marker_492588a3c67d40ad8e01294ccc6939d9 = L.marker(
                [37.484, 127.05],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            var icon_6fb2840f86ea42859219bcb592ca46f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_492588a3c67d40ad8e01294ccc6939d9.setIcon(icon_6fb2840f86ea42859219bcb592ca46f8);
        
    
            marker_492588a3c67d40ad8e01294ccc6939d9.bindTooltip(
                `<div>
                     My location
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_20a6349904bd48f38927f2c221097249 = L.marker(
                [37.4874586029997, 127.05163414173215],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_20a6349904bd48f38927f2c221097249.bindTooltip(
                `<div>
                     병원명 : 아이들세상치과의원
전화번호 : 02-3460-2232
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5a7c80bc48144b37b345529fa905b0d5 = L.marker(
                [37.4857904952, 127.0448654602],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_5a7c80bc48144b37b345529fa905b0d5.bindTooltip(
                `<div>
                     병원명 : 차서한의원
전화번호 : 02-572-1775
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1f41a4fa1011449f891f6de00e9c7403 = L.marker(
                [37.4873374952, 127.0515646829],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_1f41a4fa1011449f891f6de00e9c7403.bindTooltip(
                `<div>
                     병원명 : 현등한의원
전화번호 : 02-6205-3000
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5cb68c64dc744bf9a79f1f33b4cb51a8 = L.marker(
                [37.4871557651, 127.0465668531],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_5cb68c64dc744bf9a79f1f33b4cb51a8.bindTooltip(
                `<div>
                     병원명 : 혜민정신건강의학과의원
전화번호 : 02-574-6333
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b2b53b84086c45f1bcd143576ce5aa4d = L.marker(
                [37.48736142500113, 127.05132652736869],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_b2b53b84086c45f1bcd143576ce5aa4d.bindTooltip(
                `<div>
                     병원명 : 최진명내과의원
전화번호 : 02-573-6550
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ae60635f48324a349bf38e2d443d3ff9 = L.marker(
                [37.487337495192996, 127.05156468292161],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_ae60635f48324a349bf38e2d443d3ff9.bindTooltip(
                `<div>
                     병원명 : 동인한의원
전화번호 : 02-2057-0075
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dc19365bca8c440ca639087c37704195 = L.marker(
                [37.48818429526614, 127.04850030142546],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_dc19365bca8c440ca639087c37704195.bindTooltip(
                `<div>
                     병원명 : 로마린다치과의원
전화번호 : 02-572-9674
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f99ba43e25634c0198d9a93dbfc9dabc = L.marker(
                [37.484881853055086, 127.04597297163382],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_f99ba43e25634c0198d9a93dbfc9dabc.bindTooltip(
                `<div>
                     병원명 : 도연한의원
전화번호 : 02-534-8270
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_615163682ef94ac9bb6cdd77870b4c2c = L.marker(
                [37.4873374952, 127.0515646829],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_615163682ef94ac9bb6cdd77870b4c2c.bindTooltip(
                `<div>
                     병원명 : 김용훈정형외과의원
전화번호 : 02-2135-7721
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d92e888417b6484491f262a1b95a9c1d = L.marker(
                [37.48814157952643, 127.05067423037542],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_d92e888417b6484491f262a1b95a9c1d.bindTooltip(
                `<div>
                     병원명 : 아우름치과의원
전화번호 : 02-577-2275
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2bf5966f74834c3389626bdfe25d7c47 = L.marker(
                [37.48528552052244, 127.04593251470975],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_2bf5966f74834c3389626bdfe25d7c47.bindTooltip(
                `<div>
                     병원명 : 봄동한의원
전화번호 : 02-573-8866
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_151f598c82db487a9e9707d94977ed96 = L.marker(
                [37.480907264436816, 127.05299839759503],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_151f598c82db487a9e9707d94977ed96.bindTooltip(
                `<div>
                     병원명 : 행복한이야기한의원
전화번호 : 02-3463-1079
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5bd399d735bc406caf93099cf840ce75 = L.marker(
                [37.4809072644, 127.0529983976],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_5bd399d735bc406caf93099cf840ce75.bindTooltip(
                `<div>
                     병원명 : 연세우리소아청소년과의원
전화번호 : 02-3463-8875
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a459b169c11240bfa80ea85bd24ed073 = L.marker(
                [37.4881415795, 127.0506742304],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_a459b169c11240bfa80ea85bd24ed073.bindTooltip(
                `<div>
                     병원명 : 오리건치과교정과치과의원
전화번호 : 02-2187-7028
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_30e3993a071c43f6ae7d5c3effc69b01 = L.marker(
                [37.4857904952, 127.0448654602],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_30e3993a071c43f6ae7d5c3effc69b01.bindTooltip(
                `<div>
                     병원명 : 박성주조에피부과의원
전화번호 : 02-2058-0730
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8ace66d7d5494bc6bfc4dbfbdc44b32c = L.marker(
                [37.480913144824356, 127.05299553397576],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_8ace66d7d5494bc6bfc4dbfbdc44b32c.bindTooltip(
                `<div>
                     병원명 : 서울란치과의원
전화번호 : 02-2058-2828
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ff90e75daedd4c318f1212c7a6a0c2ff = L.marker(
                [37.48541152881373, 127.05470663888849],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_ff90e75daedd4c318f1212c7a6a0c2ff.bindTooltip(
                `<div>
                     병원명 : 연세로운치과의원
전화번호 : 02-578-5100
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e1c7c769fc3b43319628e3822d7c76ec = L.marker(
                [37.487519876785704, 127.05162061427723],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_e1c7c769fc3b43319628e3822d7c76ec.bindTooltip(
                `<div>
                     병원명 : 젊어지는치과의원
전화번호 : 02-529-2175
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ec9baff8fedf483ca8cfa70b2865a4c8 = L.marker(
                [37.48783729764696, 127.0509831093927],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_ec9baff8fedf483ca8cfa70b2865a4c8.bindTooltip(
                `<div>
                     병원명 : 오세민외과의원
전화번호 : 02-578-0051
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6aa89f5dd47d405b9a53892f02de088a = L.marker(
                [37.485963277887485, 127.04541733752204],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_6aa89f5dd47d405b9a53892f02de088a.bindTooltip(
                `<div>
                     병원명 : 서문한의원
전화번호 : 02-579-5100
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0f5630b4996449ce98d4c4fce41a9a65 = L.marker(
                [37.48578180899701, 127.04488064425936],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_0f5630b4996449ce98d4c4fce41a9a65.bindTooltip(
                `<div>
                     병원명 : 알플러스치과의원
전화번호 : 02-577-0748
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5a9f0f70eeca477aaf49cfe6bee9edce = L.marker(
                [37.4873374952, 127.05156468289998],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_5a9f0f70eeca477aaf49cfe6bee9edce.bindTooltip(
                `<div>
                     병원명 : 연세강의원
전화번호 : 0234628275
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e42702971b5e4422a90faac371fe1c2b = L.marker(
                [37.48595099167366, 127.04543703427234],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_e42702971b5e4422a90faac371fe1c2b.bindTooltip(
                `<div>
                     병원명 : 미치과의원
전화번호 : 02-577-5756
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e7862e7988a64c89b05936f59f0d23af = L.marker(
                [37.48827069935454, 127.04873102042043],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_e7862e7988a64c89b05936f59f0d23af.bindTooltip(
                `<div>
                     병원명 : 소은희마인드피아의원
전화번호 : 02-3463-3505
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bdf4f11e09d343cb9b27b151d599058e = L.marker(
                [37.487337495192996, 127.05156468292161],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_bdf4f11e09d343cb9b27b151d599058e.bindTooltip(
                `<div>
                     병원명 : 클리어의원
전화번호 : 02-2058-0701
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3add518ed97e4b4189811df056210cc4 = L.marker(
                [37.4873374952, 127.05156468289998],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_3add518ed97e4b4189811df056210cc4.bindTooltip(
                `<div>
                     병원명 : 운한의원
전화번호 : 02-573-1075
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_35d3b6c3d89f4493b3122c179eef874f = L.marker(
                [37.488142210176, 127.050674343873],
                {}
            ).addTo(map_a1928d1e7059474398f0431e78954c7a);
        
    
            marker_35d3b6c3d89f4493b3122c179eef874f.bindTooltip(
                `<div>
                     병원명 : 리투의원
전화번호 : 02-577-2279
                 </div>`,
                {"sticky": true}
            );
        
</script>