<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Simple Recorder.js demo with record, stop and pause - addpipe.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="controls" align="center">
     <button id="recordButton" style="border-color: #ffffff; color: #ffffff; background:#FF0080; font-size:2em; border-radius:0.2em; padding:5px 20px;">Record</button>
    </div>
    <form method="GET" action="/getvoice">
        <button id="goto-voice-page" style="display: none">Get Symptom</button>
    </form>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="../static/js/record.js"></script>
  </body>
</html>